* {
  box-sizing: border-box;
  background-color: white;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */
.navbar {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar #logo {
  line-height: 60px;
}

.navbar #menu li {
  float: left;
  margin-left: 50px;
  line-height: 60px;
}

.navbar #menu li a {
  color: #545454;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}

.navbar #logo img {
  vertical-align: middle;
}

.main-header {
  height: 600px;
  background-image: url("../images/hufs_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* foods */
.foods h3 {
  font-size: 24px;
  color: #545454;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.food {
  width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
}

.food-list {
  width: 735px;
  margin-left: auto;
  margin-right: auto;
  object-fit:  contain;
}

.food-name {
  margin-top: 20px;
  margin-bottom: 4px;
}

.clearfix {
  clear: both;
}